/**************
 GENERAL
**************/

* {
    margin: 0;
    box-sizing: border-box;
}

/**************
 END GENERAL
**************/

/**************
 HEADER
**************/

/* Global */

header {
    display: flex;
    justify-content: space-between;
}

/* header avec Slogan et Accroche */

#content-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(168, 167, 168, 0.788);
    min-height: 720px;
}

#content-header div {
    justify-content: center;
    margin: auto;
    color: black;
    font-size: 1.5em;
}

#btn-header {
    margin-top: 80px;
    background-color:#ffffff;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 23px;
	text-decoration:none;
}

/* Left side */

.left-side {
    margin: 5px;
}

.left-side a {
    position: relative;
    top: 8px;
}

/* Right side */

.right-side {
    display: flex;
}

.right-side ul {
    display: flex;
    list-style: none;
}

.right-side ul li a {
    position: relative;
    top: 12px;
    margin: 5px;
    height: 34px;
}

.search-bar {
    margin: 5px;
}

.search-bar input {
    padding-left: 5px;
    width: 175px;
    height: 34px;
    background: rgba(196, 196, 196, 0.62);
    border: 1px solid #060505;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/**************
 END HEADER
**************/

/**************
 TEAMATES SECTION 
**************/

#teammates {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 40px 0;
}

#teammates h2 {
    margin-bottom: 25px;
}

#teammates .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

#teammates .container .card {
    width: 30%;
}

#teammates .container .card img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

#teammates .container .card .card-info {
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

.card-info h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-info .card-info-media {
    font-size: 1.5rem;
}

.card-info .card-info-media i {
    display: inline-block;
}

/**************
 END TEAMATES SECTION 
**************/

/**************
 VALUES SECTION 
**************/
#values {
    padding: 40px 0;
    width: 100%;
    position: relative;
    background-color: #f5f5f7;
}

#values h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;

}

#values .container {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

#values .container .sided-item:nth-child(1) {
    width: 60%;
    padding: 25px;
    position: relative;
}

#values .sided-item:nth-child(1) h3 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

#values .sided-item:nth-child(1) p {
    text-align: justify;
}

#values .sided-item:nth-child(1)::after {
    width: 1px;
    height: 100%;
    border-right: 1px solid rgba(196, 196, 196, 0.62);
    content: "";
    position: absolute;
    right: 12px;
    top: 0;
}

#values .container .sided-item:nth-child(2) {
    width: 40%;
}

#values .container .sided-item:nth-child(2) > div {
    padding: 0 20px;
    margin: 0;
}

#values .container .sided-item:nth-child(2) > div:nth-child(1) {
    margin-bottom: 15px;
}



/**************
 VALUES SECTION 
**************/

/**************
 USED TECHNOS SECTION
**************/

#technos {
    background-color: #fff;
    width: 100%;
    padding: 40px 0;
    position: relative;
}

#technos h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

#technos .slider-container {
    width: 75%;
    margin: 0 auto;
}

#technos .slider-container .one-slide {
    display: none;
}

#technos .slider-container .one-slide .illustration-logo {
    height: 180px;
}

#technos .prev, .next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}

.next {
    right: 0;
}

/* Animation */
@keyframes fade {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
}


/**************
 END USED TECHNOS SECTION
**************/

/********************
BEGIN FOOTER SECTION
********************/

footer {
    display: flex;
    background-color: rgba(59, 59, 59, 0.925);
    flex-direction: column;
}

footer div div {
    padding: 20px;
    color: white;
}

footer div div ul {
    margin-top: 10px;
    list-style: none;
}

footer div div h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid white;  
}

footer div div ul li {
    margin-top: 5px;  
    margin-left: -40px;
}


footer div div ul li a {
    text-decoration: none;
    color: rgb(248, 248, 255);
    font-size: 1em;
}

.footer_superieur {
    display: flex;
    justify-content: space-around;
}

.footer_inferieur {
    display: flex;
    color: white;
    justify-content: center;
}

/********************
END FOOTER SECTION
********************/