/**************
 GENERAL
**************/

* {
    margin: 0;
}


/**************
 END GENERAL
**************/





/**************
 TEAMATES SECTION 
**************/

#teammates {
    width: 100%;
    height: 450px;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#teammates h1 {
    margin-bottom: 25px;
}



#teammates .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

#teammates .container .card {
    width: 30%;
}

#teammates .container .card img {
    width: 80%;
    margin: 0 auto;
    display: block;

}

#teammates .container .card .card-info {
    background-color: #fff;
    width: 80%;
    height: 55px;    
    margin: 0 auto;
    padding: 10px 0;
}

.card-info h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-info .card-info-media {
    font-size: 1.5rem;
}


/**************
 END TEAMATES SECTION 
**************/