  <!-- ACTIVITIES SECTION -->
  <section id="activities">
    <h2>Ce que nous faisons</h2>
    <div class="activity">
        <div class='description'>
            <h3> Nom de l'activité </h3>
            <p><strong>1er paragraphe :</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque ipsa facere corporis corrupti cupiditate, repudiandae quae ipsam natus officiis porro!</p>
            <p><strong>2ème paragraphe :</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic obcaecati similique inventore, ab eum, accusantium veritatis laboriosam dolorem praesentium sit excepturi soluta enim? Quo aliquam quod iste in incidunt id!</p>
            <a class="description-btn" href="">En savoir plus</a>
        </div>
        <div class="image">
            <img src="https://images.unsplash.com/photo-1497493292307-31c376b6e479?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3302&q=80" alt="activities">
        </div>
    </div>
</section>