<section id="contact-rapide">
    <div id="partieGauche">
        <h3>Une question ?</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure sit voluptas possimus?</p>
        <br>
        <div>
            <input type="text" name="nom" id="nom" placeholder="Nom*" />
            <input type="text" name="email" id="email" placeholder="Email*" />
        </div>
        <br>
        <textarea name="message" id="messageContact" placeholder="Votre message"></textarea>
        <br>
        <div>
            <a href="" class="">Envoyer</a>
        </div>
    </div>
    <div id="partieDroite">
        <h3>Notre ville</h3>
        <p>01 23 45 67 89</p>
        <p>adressemail@mail.com</p>
    </div>
</section>
