    <!-- TEAMMATES SECTION -->
    <section id="teammates">
        <h2>Les membres de l'équipe</h2>
        <div class="container">

            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
                    alt="Avatar de Issam">
                <div class="card-info">
                    <h3>Issam BEN MABROUK</h3>
                    <div class="card-info-media">
                        <i class="fas fa-envelope-square"></i>
                        <i class="fab fa-linkedin"></i>
                        <i class="fab fa-github-square"></i>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
                    alt="Avatar de Addel">
                <div class="card-info">
                    <h3>Adeel AHEMD</h3>
                    <div class="card-info-media">
                        <i class="fas fa-envelope-square"></i>
                        <i class="fab fa-linkedin"></i>
                        <i class="fab fa-github-square"></i>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png"
                    alt="Avatar de Chihab">
                <div class="card-info">
                    <h3>Chihab BERKANE</h3>
                    <div class="card-info-media">
                        <i class="fas fa-envelope-square"></i>
                        <i class="fab fa-linkedin"></i>
                        <i class="fab fa-github-square"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Le changement, c'est maintenant! -->
    </section>