 <!-- TECHNOS SECTION -->
 <section id="technos" >
    <h2>Nous utilisons ces technos</h2>
    
    <!-- Slider : la ou ça glisse -->
    <div class="slider-container">

        <div class="one-slide fade">
            <div class="illustration-logo">
                <img src="./img/icon_angular.svg" width="150" height="150">
            </div>
            <div class="illustration-logo">
                <img src="./img/icon_spring.svg" width="150" height="150">
            </div>
            <div class="illustration-logo">
                <img src="./img/icon_java.svg" width="150" height="150">
            </div>
        </div>

        <div class="one-slide fade">
            <div class="illustration-logo">
                <img src="./img/icon_html.svg" width="150" height="150">
            </div>
            <div class="illustration-logo">
                <img src="./img/icon_css.svg" width="150" height="150">
            </div>
            <div class="illustration-logo">
                <img src="./img/icon_js.svg" width="150" height="150">
            </div>
        </div>

    </div>

    <!-- Les boutons du slider -->
    <a class="prev" id="prevButton">&#10094;</a>
    <a class="next" id="nextButton">&#10095;</a>
</section>