 <!-- VALUES SECTION -->
 <section id="values">
    <h2>Nos Valeurs</h2>
    <div class="container">
        <div class="sided-item">
            <h3><span>1. </span>Première valeur</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, amet expedita ea dolore fugiat eum, rem cum esse, repellendus enim porro facere earum dolor consectetur.</p>
        </div>
        <div class="sided-item">
            <div>
                <h3><span>2. </span>Deuxième valeur</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio voluptates numquam, beatae quo aperiam consequatur</p>
            </div>
            <div>
                <h3><span>3. </span>Troisème valeur</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic officiis placeat modi, nostrum debitis perspiciatis?a</p>
            </div>
        </div>
    </div>
</section>