<section id="project-cards">

    <div class="card">

        <div class="descriptor" hidden>
            Lorem, ipsum dolor.
        </div>

        <div class="card-content">
            <div class="bandeau">
                <h3>Titre du projet</h3>
            </div>
        </div>
        <div class="card-footer">
            <div class="tags">
                <span>python</span>
                <span>php</span>
            </div>
            <div class="actions">
                <button>
                    <i></i>
                </button>
                <button class="menu-opener" id="chenmu">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="bandeau">
                <h3>Titre du projet</h3>
            </div>
        </div>
        <div class="card-footer">
            <div class="tags">
                <span>python</span>
                <span>php</span>
            </div>
            <div class="actions">
                <button>
                    <i></i>
                </button>
                <button class="menu-opener">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="bandeau">
                <h3>Titre du projet</h3>
            </div>
        </div>
        <div class="card-footer">
            <div class="tags">
                <span>python</span>
                <span>php</span>
            </div>
            <div class="actions">
                <button>
                    <i></i>
                </button>
                <button class="menu-opener">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="bandeau">
                <h3>Titre du projet</h3>
            </div>
        </div>
        <div class="card-footer">
            <div class="tags">
                <span>python</span>
                <span>php</span>
            </div>
            <div class="actions">
                <button>
                    <i></i>
                </button>
                <button class="menu-opener">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="bandeau">
                <h3>Titre du projet</h3>
            </div>
        </div>
        <div class="card-footer">
            <div class="tags">
                <span>python</span>
                <span>php</span>
            </div>
            <div class="actions">
                <button>
                    <i></i>
                </button>
                <button class="menu-opener">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <div class="bandeau">
                <h3>Titre du projet</h3>
            </div>
        </div>
        <div class="card-footer">
            <div class="tags">
                <span>python</span>
                <span>php</span>
            </div>
            <div class="actions">
                <button>
                    <i></i>
                </button>
                <button class="menu-opener">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
    </div>

    
</section>