/* header avec Slogan et Accroche */
/* Left side */
/* Right side */

#content-header {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: rgba(168, 167, 168, 0.788);
	min-height: 720px;
	div {
		justify-content: center;
		margin: auto;
		color: black;
		font-size: 1.5em;
	}
}
#btn-header {
	margin-top: 80px;
	background-color: #ffffff;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 13px 23px;
	text-decoration: none;
}



