$bgc1: #f1f1f1;
$bgc2: rgba(0, 0, 0, 0.5);

#project-cards {
    background-color: $bgc1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 40px;


    .card {
        position: relative;
        width: 27%;
        margin: 40px 0;
        background-color: #fff;

        .descriptor {
            position: absolute;
            background-color: #f1f1f1;
            bottom: 0;
            left: 0;
            right: 0;
            height: 0px;
            width: 100%;
            display: none;
            transition: 1s height;
        }

        .card-content {
            height: 270px;
            background-image: url('https://cdn.pixabay.com/photo/2016/10/10/18/40/news-1729539_1280.jpg');
            background-size: 100% 270px;

            .bandeau {
                background-color: $bgc2;
                padding: 10px 20px;
                text-align: center;
                font-size: 1em;
                font-weight: 400;
                color: aliceblue;
            }
        }

        .card-footer {
            padding: 10px 20px;
            .tags {
                margin: 0 0 20px 0;

                span {
                    padding: 3px 6px;
                    border-radius: 3px;
                    background-color: rgb(102, 194, 137);
                    margin: 0 3px;
                }
            }

            .actions {
                position: relative;

                button {
                    border: none;
                    background: none;
                    margin: 0;

                    &.menu-opener {
                        position: absolute;
                        right: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
