<section id="form-contact">
    <div>
        <h2>Vous souhaitez nous contactez ?</h2>
    </div>
    <div>
        <h3>Veuillez remplire le formulaire ci dessous</h3>
    </div>

    <!--L'OBJET DE LA DEMANDE-->
    <div class="foo">
        <div class="foo-l">
            <h4>Objet de la demande </h4>
        </div>

        <div class="select foo-r">
            <select name="slct" id="slct">
                <option selected disabled>Choose an option</option>
                <option value="1">Pure CSS</option>
                <option value="2">No JS</option>
                <option value="3">Nice!</option>
            </select>
        </div>

        <!--
        <div class="foo-r">
            <select>
                <option> raison 1</option>
                <option> raison 2</option>
                <option> raison 3</option>
            </select>
        </div>
    -->
    </div>

    <div class="foo">
        <div class="foo-l">
            <label>
                Prénom :
            </label>
        </div>
        <div class="foo-r">
            <input type="text" name="prenom" id="prenom" />
        </div>
    </div>
    <div class="foo">
        <div class="foo-l">
            <label>
                Nom :
            </label>
        </div>
        <div class="foo-r">
            <input type="text" name="nom" id="nom" />
        </div>
    </div>
    <div class="foo">
        <div class="foo-l">
            <label>
                Email :
            </label>
        </div>
        <div class="foo-r">
            <input type="text" name="prenom" id="prenom" />
        </div>
    </div>
    <div class="foo">
        <div class="foo-l">
            <label>
                Téléphone :
            </label>
        </div>
        <div class="foo-r">
            <input type="text" name="nom" id="nom" />
        </div>
    </div>
    <div class="foo message">
        <div class="foo-l">
            <label>
                Message :
            </label>
        </div>
        <div class="foo-r">
            <textarea name="message" id="message"></textarea>
        </div>
    </div>
</section>
