$bg-color1: #f1f1f1;
$bg-color2: #f1f1f1;
$bg-color3: #f1f1f1;


$font-color1: #000055;
$font-color2: #000055;


$border-color1: #000;
$border-color1: #000;


$font1: 'sans-serif';
$font2: 'sans-serif';
