// Background colors
$bg-color1: #f5f5f5;
$bg-color2: #ccc3c3;
$bg-color3: #353232;


// Button colors
$button-color1: #353232;
$button-color2: #e68d28;


// Border colors
$border-color1: #ccc3c3;
$border-color2: #ccc3c3;


// Font families
$font-family1: 'sans-serif';
$font-family2: 'sans-serif';
